#login-register {
  display: flex; 
  justify-content: space-around; 
  align-items: flex-start; 
  padding: 5px; 
}

#login-page,
#register-page {
  flex: 1;
  margin: 10px;
}

input[type="text"],
input[type="password"] {
  width: 50%;
  margin-bottom: 10px;
}
