<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do Liste</title>
    <!-- <link rel="shortcut icon" href="../Bilder/favicon.ico" type="image/x-icon">geht nicht-->
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/button_index.css" />
  </head>
  <body>
    <h1>To-Do-Liste von Tim, Niklas & Noah</h1>
    <div style="display: flex; gap: 10px;">
      <button id="NewItem" onclick="oeffnePopup()">New Item</button>
      <form id="deleteForm" method="POST" action="{{ url_for('delete_task') }}">
        <button type="submit">Ausgewählte Löschen</button>      
    </div>

      <form id="deleteForm" method="POST">
  <table>
    <thead>
      <tr>
        <th>Auswahl</th>
        <th>Task</th>
        <th>Date</th>
        <th>Person</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td><input type="checkbox" name="task_ids" value="{{ task.id }}"></td>
        <td>{{ task_content }}</td>
        <td>{{ task_date }}</td>
        <td>{{ task_person }}</td>
        <td>{{ task_done }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</form>


    <script>
      window.addEventListener(
        "message",
        function (event) {
          var receivedContent = event.data.taskContent;
          var receivedDate = event.data.taskDate;
          var receivedPerson = event.data.taskPerson;
          var receivedDone = event.data.taskDone;
          // Hier werden die empfangenen Daten in die Tabelle ein
          var tbody = document.querySelector("table tbody");
          var newRow = tbody.insertRow();
          var cellContent = newRow.insertCell(0);
          var cellDate = newRow.insertCell(1);
          var cellPerson = newRow.insertCell(2);
          var cellDone = newRow.insertCell(3);
          cellContent.textContent = receivedContent;
          cellDate.textContent = receivedDate;
          cellPerson.textContent = receivedPerson;
          cellDone.textContent = receivedDone;

        },
        false
      );
      function oeffnePopup() {
        var popup = window.open("/popup", "_blank", "width=400,height=400");
      }
    </script>
  </body>
</html>
