<!DOCTYPE html>
<html lang="de">
<head>
  <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popup-Seite</title>
    <link rel="stylesheet" href="../static/button.css" />
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  
    <h2>Popup-Seite</h2>

    <form method="POST" action="{{ url_for('popup') }}">
        <label for="content">Enter task:</label>
        <input type="text" id="content" name="content" required /><br />

        <label for="date">Enter date:</label>
        <input type="date" id="date" name="date" required/><br />

        <label for="assigned_to">Choose person:</label>
        <select name="assigned_to" id="assigned_to">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select><br>

        <button id="cancel" type="button" onclick="closeWindow();">Cancel</button>

        <button id="save" type="submit">Save</button>









        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      
    </form>

    <script>
        function closeWindow() {
            window.close();
        }
    </script>
</body>
</html>
